.outerDiv {
    max-width: 768px;
}

.grid-container-search{
    max-width: 960px;
    column-gap: 5px;
    row-gap: 5px;
    display: grid;
    grid-template-columns: 2fr 8fr;
    padding: 2px;
    text-align: center;
}

.flex-container{
    display: flex;
    margin: 20px;
    padding: 2px;
    font-size: 15px;
    column-gap: 10px
}

.grid-item, .grid-filters, .grid-filter-menu{
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: left;
}

.grid-filter-menu {
    grid-column: 1/2;
    font-size: 15px;
}

.grid-item{
    grid-column: 2/8;
}

.listing-description{
    text-align: left;
}

.listing-image{
    height: 250px;
    width: 250px;
}