.outerDiv {
    max-width: 768px;
}

/* Listing search page css */
.search-grid-container {
    max-width: 1260px;
    column-gap: 5px;
    row-gap: 5px;
    display: grid;
    grid-template-columns: 3fr 16fr;
    padding: 2px;
    text-align: center;
}

.listing-search-result {
    display: flex;
    margin: 20px;
    padding: 2px;
    font-size: 15px;
    column-gap: 10px
}

.listing-search-results, .listing-filters-grid, .listings-filters-menu {
    padding: 20px 0;
    font-size: 30px;
    text-align: left;
}

.listings-filters-menu {
    font-size: 16px;
}

.listing-search-results {
    grid-column: 2/8;
}

.listing-search-result-description {
    text-align: left;
}

.listing-search-result-image {
    height: 250px;
    width: 250px;
}

/* use one class for list images */
.listCreateImage1 {
    height: 125px;
    max-width: 100%;
}

.listCreateImage2 {
    height: 125px;
    max-width: 100%;
}

.listCreateImage3 {
    height: 125px;
    max-width: 100%;
}

.listCreateImage4 {
    height: 125px;
    max-width: 100%;
}

.listCreateImage5 {
    height: 125px;
    max-width: 100%;
}

.create-listing-options-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 25px;
    padding: 10px;
}

.exchange-method-option {
    grid-column-start: 1;
}

.create-listing-categories {
    grid-column-start: 2;
    padding-top: 6px;
}

.view-listing-grid-container {
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
    grid-template-rows: 4fr 4fr 2fr;
    gap: 25px;
    padding: 20px;
}

.listing-grid-design {
    padding: 20px;
    font-size: 15px;
}

.view-listing-main-image {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.view-listing-description {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.view-listing-interact {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.view-listing-description {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;

}

.view-listing-extra-images {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
}

.extraImage {
    height: 100px;
    width: 100px;
}

.navbar-start-content,
.navbar-end-content {
    width: 200px;
}


.outerDiv {
    max-width: 1280px;
}

.banner-image {
    height: 140px;
    width: 100%;
}

.banner-fig {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 42px;
}

.text-over-banner {
    position: relative;
    height: 110px;
}

.view-extra-home-images {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    position: relative;
}

.home-grid-design {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.home-grid-container {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 30px;
    padding-top: 20px;
}

.home-images {
    height: 200px;
    width: 200px;
}

.home-image-titles {
    font-size: 25px;
    padding-right: 10px;
}

.home-image-descriptions {
    font-size: 20px;
    text-align: center;
    text-overflow: ellipsis;
    margin: 0 10px;
    width: 150px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.home-image-misc {
    margin-top: 60px;
    margin-bottom: 60px;
}

.home-logos {
    height: 50px;
    width: 50px;
}

.home-logo-descriptions {
    font-size: 23px;
    text-align: center;
    vertical-align: center;
    margin: 0 10px;
    width: 150px;
    display: inline;
}

.home-logo-misc {
    margin-top: 50px;
}

.home-welcome {
    text-align: center
}

.home-list {
    display:inline;
}