* {
    font-family: museo-sans,sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","sans-serif";
}

.outerDiv {
    max-width: 1280px;
}

/* Listing search page css */
.search-grid-container {
    column-gap: 5px;
    row-gap: 5px;
    display: grid;
    grid-template-columns: 3fr 16fr;
    padding: 2px;
    text-align: center;
}

.orders-title-div {
    margin-top: 10px;
    width: 1280px;
    max-width: 100%;
    padding-left: 300px;
}

.listing-search-result {
    display: flex;
    margin: 20px;
    padding: 2px;
    font-size: 15px;
    column-gap: 10px
}

.listing-search-results, .listing-filters-grid, .listings-filters-menu {
    padding: 20px 0;
    font-size: 30px;
    text-align: left;
}

.listings-filters-menu {
    font-size: 16px;
}

.listing-search-results {
    grid-column: 2/8;
}

.listing-search-result-description {
    text-align: left;
    flex-grow: 1;
}

.listing-search-result-image {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

/* Listing creation page classes */
.createOuterDiv {
    max-width: 800px;
}

.create-listing-image-container {
    height: 125px;
    width: 125px;
    background-image: url(/public/images/addimage.png);
    background-position: center;
    background-size: contain;
}

.create-listing-image-button {
    height: 100%;
    width: 100%;
    opacity: 0;
}

.create-listing-image-button:hover {
    cursor: pointer;
}

.create-listing-options-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 25px;
    padding: 10px;
}

.exchange-method-option {
    grid-column-start: 1;
}

.create-listing-tags {
    grid-column-start: 2;
    padding-top: 6px;
}

/* View listing page css */
.view-listing-grid-container {
    max-width: 1260px;
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
    grid-template-rows: 1fr 4fr 1fr;
    gap: 25px;
}

.listing-grid-design {
    padding: 20px;
    font-size: 15px;
}

.view-listing-main-image-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    min-width: 0;
    overflow: hidden;
    padding: 0;
    height: 600px;
    outline: #eeeeee solid 1px;
}

.view-listing-header {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 20px 20px 0 0;
    margin-top: 15px;
}

.view-listing-interact {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 0;
}

.view-listing-tags {
    background-color: #f8f8f8;
    outline: #eeeeee solid 1px;
}

.view-listing-description {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    padding: 0 20px 20px 20px;
}

.view-listing-description-box {
    background-color: #f8f8f8;
    outline: #eeeeee solid 1px;
}

.view-listing-description-title {
    background-color: transparent;
}

.view-listing-extra-images {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.emphasise-item-text {
    font-size: 42px;
}

.view-listing-main-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    background: #f8f8f8;
}

.view-listing-extra-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* navbar css */
.navbar-start-content, .navbar-end-content {
    width: 200px;
}

/* home page css */
.banner-image {
    height: 140px;
    width: 80%;
}

.banner-fig {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 42px;
}

.banner-text {
    padding-top: 30px;
    padding-left: 30px;
}

.text-over-banner {
    position: relative;
    height: 110px;
}

.view-extra-home-images {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
}

.home-grid-container {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 30px;
    padding-top: 20px;
}

.home-images {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.home-image-titles {
    font-size: 28px;
    padding-right: 10px;
    margin: 0;
    font-family: "Arial Rounded MT Bold","sans-serif";
    width: 49%;
    text-align: left;
}

.home-image-descriptions-container {
    font-size: 20px;
    height:3em;
    overflow: hidden;
}

.home-image-descriptions {
    font-size: 20px;
    display: block;
    margin: 0 auto;
    word-wrap: break-word;
    width: 100%;
    line-height: 1.5em;
    overflow: hidden;
}

.home-image-misc {
    margin-top: 60px;
    margin-bottom: 60px;
}

.home-logo-container {
    margin-left: 40px;
    padding: 15px;
}

.home-logos {
    height: 50px;
    width: 50px;
}

.home-logo-descriptions {
    font-size: 23px;
    text-align: center;
    vertical-align: center;
    margin: 0 10px;
    width: 150px;
    display: inline;
}

.zero-margin {
    margin: 0;
}

.home-logo-misc {
    margin-top: 80px;
    vertical-align: top;
}

.home-welcome {
    text-align: center
}

.home-welcome-design {
    background: #d50032;
    border-radius: 20px;
}

.home-banner-design {
    background: #373741;
    border-radius: 10px;
}

.white-design-text {
    color: white;
}

.home-list {
    display:inline;
    padding: 0;
}

.home-list a {
    color: white;
    text-decoration: none;
}

.home-list a:hover {
    color: #d50032;
}

.home-list a:visited {
    color: #1dc3e1;
}

.tag-list-container {
    display:inline;
    text-decoration: none;
}

.tag-list-container li {
    display:inline;
}

.tag-list-container li a {
    color: black;
    text-decoration: none;
}

.tag-list-container li a:hover {
    color: #d50032;
}

.tag-list-container li a:visited {
    color: #1dc3e1;
}

.bg-primary, .btn-primary {
    background-color: #d50032 !important;
}

.btn-secondary {
    border-radius: 30px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: transparent;
}

.btn-navbar {
    border-radius: 30px;
    vertical-align: center;
    font-weight: 600;
}

.btn-filters {
    border-radius: 10px;
    vertical-align: center;
    border: transparent;
}

.categories-color {
    color: white;
    background-color: #373741;
    border-radius: 30px;
}

.home-image-containers {
    margin-top: 20px;
    margin-left: 10px;
    width: 200px;
}

.admin-welcome {
    text-align: center;
    margin-bottom: 0;
    margin-top: 50px;
}

.admin-filters-grid {
    padding: 0;
    font-size: 30px;
    text-align: left;
}

.admin-search-results {
    grid-column: 2/8;
    padding: 0;
}

.text-overflow {
    display: block;
    word-wrap: break-word;
    line-height: 1.5em;
    overflow: hidden;
}

.home-image-background {
    background-color: #ffffff;
    outline: #f7f7f7 solid 2px;
    border-radius: 5px;
}

.home-image-design a {
    color: black;
    text-decoration: none;
}

.home-image-design a:hover {
    color: red;
    text-decoration: none;
}

.home-welcome-design a {
    color: white;
    text-decoration: none;
}

.home-welcome-design a:hover {
    color: black;
}

.filter-title {
    font-weight: 700;
}

.search-link-style{
    transition: all 0.4s;
}

.search-link-style a {
    color: black;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
}

.search-link-style a:hover {
    text-decoration-color: #d50032;
    color: #d50032;
}

.search-description-style {
    color: #565959;
}

.search-description-background {
    background-color: #ffffff;
    outline: #f7f7f7 solid 2px;
    border-radius: 5px;
}

.search-description-image {
    background-color: #f8f8f8;
    outline: #f7f7f7 solid 1px;
}

.search-title {
    text-align: left;
    margin-bottom: 0;
}

.search-title-div {
    margin-top: 10px;
    width: 1280px;
}

.search-padding {
    padding: 0 20px 20px 20px;
}

.search-margin {
    margin: 0 auto 48px auto;
}

.capitalise {
    font-weight: 700;
    text-transform: uppercase;
}

.form-check-input {
    border: 1px solid rgba(0,0,0,.25);
}

.form-check-input:focus, .form-control:focus, .form-select:focus {
    outline: none;
    box-shadow: none;
    background-color: white;
    border-color: #d50032;
}

.form-check-input:checked, .form-check-input:active {
    background-color: #d50032;
    border-color: #d50032;
}

.btn-outline-danger {
    border-radius: 20px;
    --bs-btn-color: #d50032;
    --bs-btn-border-color: #d50032;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d50032;
    --bs-btn-hover-border-color: #d50032;
    --bs-btn-focus-shadow-rgb: 220,53,69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #d50032;
    --bs-btn-active-border-color: #d50032;
    --bs-btn-active-shadow: inset 0 3px 5px #d50032;
    --bs-btn-disabled-color: #d50032;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #d50032;
    --bs-gradient: none;
    font-family: "Arial Rounded MT Bold","sans-serif";
}

.btn-outline-light {
    border-radius: 20px;
    --bs-btn-color: white;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: #d50032;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: white;
    --bs-btn-focus-shadow-rgb: 220,53,69;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: white;
    --bs-btn-active-shadow: inset 0 3px 5px white;
    --bs-btn-disabled-color: white;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: white;
    --bs-gradient: none;
    font-family: "Arial Rounded MT Bold","sans-serif";
}

.btn-outline-login {
    border-radius: 20px;
    --bs-btn-color: white;
    --bs-btn-bg: #d50032;
    --bs-btn-border-color: #d50032;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #fa0032;
    --bs-btn-hover-border-color: #fa0032;
    --bs-btn-focus-shadow-rgb: 220,53,69;
    --bs-btn-active-color: #d50032;
    --bs-btn-active-bg: #d50032;
    --bs-btn-active-border-color: #d50032;
    --bs-btn-active-shadow: inset 0 3px 5px #d50032;
    --bs-btn-disabled-color: #d50032;
    --bs-btn-disabled-bg: #d50032;
    --bs-btn-disabled-border-color: #d50032;
    --bs-gradient: none;
    font-family: "Arial Rounded MT Bold","sans-serif";
}

.home-view-more {
    font-size: 20px;
    color:  #2f2f2f;
    text-align: right;
    width: 50%;
    margin: 0;
}

.home-main-title {
    font-size: 50px;
}

.button-box-size {
    font-size: 20px;
}

@media only screen and (min-width:0px) and (max-width: 768px) {
    .home-grid-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .view-extra-home-images {
        background-color: #ffffff;
        outline: #f7f7f7 solid 2px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .home-image-titles {
        font-size: 25px;
        padding-right: 10px;
    }

    .home-image-containers {
        margin-top: 20px;
        margin-left: 10px;
        width: 98%;
    }

    .home-images {
        width: 100%;
    }

    .home-image-titles {
        font-size: 50px;
        padding-right: 10px;
        text-align: center;
    }

    .listings-filters-menu {
        padding: 20px 0;
        font-size: 12px;
        text-align: left;
    }

    .search-title-div {
        margin-top: 10px;
        padding-left: 2px;
        width: 100%;
    }

    .search-grid-container {
        column-gap: 5px;
        row-gap: 5px;
        display:flex;
        padding: 2px;
        text-align: center;
    }

    .listing-search-result {
        display: flex;
        margin: 5px;
        padding: 2px;
        font-size: 5px;
        column-gap: 10px;
        flex-direction: column;
    }

    .listing-search-result-image {
        width: 100%;
    }

    .create-listing-options-grid {
        display: flex;
        gap: 25px;
        padding: 10px;
        flex-wrap: wrap;
    }

    .create-listing-categories {
        display: flex;
        padding-top: 6px;
        flex-direction: column;
    }

    .exchange-method-option {
        display: flex;
    }

    .create-listing-image-container {
        height: 75px;
        width: 100px;
        margin: 5px;
        background-image: url(/public/images/addimage.png);
        background-position: center;
        background-size: contain;
    }

    /* View listing page css */
    .view-listing-grid-container {
        max-width: 1260px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .view-listing-main-image-container {
        overflow: hidden;
        padding: 0;
        height: 300px;
        outline: #eeeeee solid 1px;
        order: -1;
    }

    .view-listing-header {
        padding: 2px;
        margin-top: 5px;
        order: -3;
    }

    .view-listing-extra-images {
        width: 20%;
        padding: 0;
        aspect-ratio: 1/1;
        object-fit: cover;
        display: flex;
        flex-direction: row;
        order: -1;

    }

    .view-listing-description {
        padding: 0 20px 20px 20px;
        order: -1;
    }

    .listing-grid-design {
        padding: 5px;
        font-size: 15px;
    }

    .orders-title-div {
        padding: 10px;
    }
    .index-control-box {
        order: -1;
    }

    .home-logo-misc {
        vertical-align: top;
        margin-top: auto;
    }

    .home-grid-container {
        gap: 30px;
        padding-top: 2px;
    }


}